@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
body,
h1,
h2,
p,
button,
div,
ul,
li {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
ul, 
li {
  list-style: none;
}

/* style */

html {
  width: 100%;
  height: 100%;
}

body {
  width: inherit;
  height: inherit;
  background-image: linear-gradient(150deg, #F0F4FF 0%, #A5B6EE 100%);
}


.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

header img {
  width: 244px;
  height: 48px;
  display: block;
  margin: 0 auto;
  padding: 72px 0;
}

.container{
  width: 400px;
  height: 360px;
  background-image: linear-gradient(150deg, #5572BB 0%, #374B7C 100%);
  border-radius: 16px;
  box-shadow: 9px 8px 50px 10px rgba(0,0,0,0.25);
  margin: 0 auto;
}
.container h2 {
  Font-family: Pretendard;
  font-size: 24px;
  color: white;
  text-align: center;
  padding: 48px 0 23px;
  position: relative;
}

h2::after {
  content: '';
  position: absolute;
  width: 312px;
  height: 1px;
  background-color: #3D538A;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0 1px 2px  rgba(255, 255, 255, 0.25);
}

ul {
  display: flex;
  gap: 22px;
  justify-content: center;
  padding: 20px 0;
}
ul strong,
ul span {
  font-family: Pretendard;
}
li {
  position: relative;
}
li strong {
  color: #A5B6EE;
  display: block;
  padding: 0 25px;
}
li span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.hour::after,
.min::after {
  content: '';
  width: 6px;
  height: 26px;
  background-image: url(./img/dot.png);
  position: absolute;
  top: 43%;
  right: -18%;
  z-index: 1;
}

.btn-box {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.btn-box button {
  font-family: Pretendard;
  color: #617199;
  font-size: 14px;
  font-weight: 700;
  width: 112px;
  height: 48px;
  background-color: #324577;
  border-radius: 50px;
  position: relative;
}

.btn-box button img {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}
.btn-box button span {
  padding-top: 10px;
  padding-left: 20px;
}
.btn-box .btn-reset span {
  padding-left: 25px;
}
